# Device Service
VITE_DEVICE_SVC_URL=http://localhost:8081

# Screen Service
VITE_SCREEN_WS_URL=ws://localhost:8080
VITE_SCREEN_HTTP_URL=http://localhost:8080

# Test Service
VITE_TEST_SVC_URL=http://localhost:8083

# Report Service
VITE_REPORT_SVC_URL=http://localhost:8082
